/* Chat Modal */
.modal-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 200%;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-overlay > .modal-container {
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.modal-overlay > .modal-container > .modal-content {
    overflow-y: auto;
    height: 93%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #A8C0D6;
}
.modal-overlay > .modal-container > .input-container {
    display: flex;
}
.modal-overlay > .modal-container > .input-container > input {
    width: 100%;
    padding: 5px 0 5px 5px;
    border: none;
    outline: none;
}
.modal-overlay > .modal-container > .input-container > button {
    flex: 1;
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: auto;
}

/* Chat */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}
a {
    text-decoration: none;
}
.wrap {
    background-color: #A8C0D6;
}
.wrap .chat {
    display: flex;
    align-items: flex-start;
    padding: 5px;
}
.wrap .chat .icon {
    position: relative;
    overflow: hidden;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #eee;
}
.wrap .chat .icon i {
    position: absolute;
    top: 5px;
    left: 50%;
    font-size: 1.25rem;
    color: #aaa;
    transform: translateX(-50%);
}
.wrap .chat .textbox {
    position: relative;
    display: inline-block;
    max-width: calc(100% - 35px);
    padding: 7px;
    font-size: 10px;
    border-radius: 10px;
}
.wrap .chat .textbox::before {
    position: absolute;
    display: block;
    top: 0;
    font-size: 0.75rem;
}
.wrap .other .textbox {
    margin-left: 20px;
    background-color: #ddd;
}
.wrap .other .textbox::before {
    left: -15px;
    content: "◀";
    color: #ddd;
}
.wrap .me {
    flex-direction: row-reverse;
}
.wrap .me .textbox {
    margin-right: 20px;
    background-color: #F9EB54;
}
.wrap .me .textbox::before {
    right: -9px;
    content: "▶";
    color: #F9EB54;
    margin-top: 5px;
}