form {
    /* position: relative; */
    text-align: center;
}

form > div > input,
#country,
#gender {
    display: flex;
    width: 100%;
    height: 50px;
    border: 1px solid lightgray;
}

/* .group {
	width: 30%;
	margin: 0 auto;
} */

.group, .error-msg {
    width: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group > input, #gender, #country {
    padding: 0 20px 0 20px;
}

.group > input:focus {
    outline: none;
    border: 1px solid green;
}

.group > input:first-child {
    border-radius: 10px 10px 0 0;
}
.group > input:last-child {
    border-radius: 0 0 10px 10px;
}

/*p {*/
/*    color: red;*/
/*    border: 1px solid lightgray;*/
/*}*/

#gender {
    display: flex;
    justify-content: center;
    border: 1px solid lightgray;
    padding-top: 12px;
}

#gender > label > div {
    width: 60px;
    border: 1px solid teal;
    padding: 10px 30px 10px 30px;
    font-size: 7px;
}

#gender > label:first-child > div {
    border-radius: 5px 0 0 5px;
}

#gender > label:last-child > div {
    border-radius: 0 5px 5px 0;
}

#country > select {
    border: none;
    width: 100%;
}

#male, #female, #other {
    display: none;
}

.error-msg > ul > li {
    display: none;
    color: red;
    font-size: 15px;
}

.error-msg {
    margin-bottom: 30px;
}

input[type="button"] {
    border: none;
    width: 30%;
    margin: 0 auto;
    margin-top: 100px;;

    color: whitesmoke;
    border: none;
    border-radius: 10px;
    background-color: #0aaa5cff;
}

#board_form table tr:nth-child(2) input {
    width: 200px;
    height: 200px;
}

/* Gender Color Change */