body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.login {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login div {
    margin-bottom: 15px;
}
.login input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}
.login button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: darkslategray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login button:first-child {
    margin-bottom: 10px;
}
.login button:hover {
    background-color: darkslategray;
}