.WorkInsert {
    background: #495057;
}

.WorkInsert .input {
    background: none;
    outline: none;
    border: none;
    padding: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.5;
    color: white;
    flex: 1;
    width: 100%;
}

.WorkInsert .input::placeholder {
    color: #dee2e6;
}

.WorkInsert .submit {
        background: #007bff;
        width: 40px;
        height: 2rem;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1rem;
        font-weight: bold;
        margin-left: 0.5rem;
        transition: background 0.3s;

}

.WorkInsert .button:hover {
    background: #adb5bd;
}
.WorkInsert .add-List-button {
    padding: 8px;
    font-size: 16px;
    margin-right: 350px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}
.WorkInsert .add-List-button :hover {
    background: #0056b3;
}
.wrapper{
    background-color: white;
}
